* {
    font-family: 'Monserrat', sans-serif;
}

:root{

    --primary-color: #740107;
    --secondary-color: #f0f0ea;
    --text-color: #f0f0ea;
    --bg-color-primary: #740107;
    --bg-color-for-gradient: #f0f0ea; 
    
    --feeds-color-light-red: #952f28;
    --feeds-color-medium-red: #7d0100;
    --feeds-color-dark-red: #670100;
    --feeds-color-gold: #D19A04;

    --feeds-color-berduka: #221516;
    --feeds-color-hari-raya: #f0f0ea;


}

.gradient-background{

    background: linear-gradient(180deg,   
                                transparent 0%, /* transparency mula-mula dari atas */
                                var(--bg-color-for-gradient) 100%  /* warna semakin muncul di akhir */
                                );

    width: 200px;
    /*
    jangan lupa set ini:

    width: ; 
    height: ;

    */
}