.hierarki{
    background-color: var(--secondary-color);

    margin-top: 60px;

    height: 100%;
    width: 100%;
    overflow: hidden;

    background-image: url("../../asset/hierarki-local-board.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;


}

@media (max-width: 768px) {
    .hierarki{
        margin-top: 0px;
        background-position: 50% 10%;
    }
}

/* .hierarki-image{
    object-fit: cover;
    overflow: hidden;
} */