* {
    font-family: 'Figtree', sans-serif;
    color: #f0f0ea;
    letter-spacing: 2%;
}

:root{

    --primary-color: #740107;
    --primary-color: rgb(116, 1, 7);
    --secondary-color: #f0f0ea;
    --secondary-color: rgb(240, 240, 234);
    --text-color: #f0f0ea;
    --bg-color-primary: #740107;
    --bg-color-for-gradient: rgb(240, 240, 234); 
    
    --feeds-color-light-red: #952f28;
    --feeds-color-medium-red: #7d0100;
    --feeds-color-dark-red: #670100;
    --feeds-color-gold: #D19A04;

    --feeds-color-berduka: #221516;
    --feeds-color-hari-raya: #f0f0ea;

}