/* ======================================================================================================================================= */
header {
    background-color: rgb(240, 240, 234, 0.8);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-evenly;  
    align-items: center;

    gap: 70 vh;

    width: 100%;
    position: fixed; 
    left: 0;
    top: 0;
    
    padding-top: 28px;
    padding-bottom: 28px;
    margin: 0;
    z-index: 1;    

    transition: top 0.7s;
}

.logo-alsa-text{
    display: flex;
    gap: 10px;
}

.logo {
    /* perbandingan 11:9*/
    width: 77px;
    height: 63px;

}

.all-text{
    display: flex;
    flex-direction: column;
    
    /* karena flex-direction: column, ketengahin objek secara vertikal pake justify-content, bukan align-items*/
    justify-content: center;
    
}

.alsa-text{
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1.5px;
    text-decoration: none;
    letter-spacing: 0.3px;
}
.alsa-text-mini{
    color: var(--primary-color);
    font-size: small;
    margin: 0;
    text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 30px;
    opacity: 1;
    visibility: visible;
}

.nav-links a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: normal;
    position: relative;
}

/* tambah animasi garis dibawah tulisan kuncinya disini */
/* source: deepsite */

.nav-links a::after{
    background: var(--primary-color);

    content: '';
    position: absolute;

    width: 0;
    height: 2px; 
    bottom: -5px;
    left: 0;

    transition: width 0.7s ease;
}

.nav-links a:hover::after{
    width: 100%;
}

.dropdown{
    position: relative;
}

.dropdown-btn{
    border: none;
    background-color: rgb(240, 240, 234, 0.0);
    color: var(--primary-color);
    font-size: 16px;
}

.dropdown-content{

    /*display: none; itu gak bisa di animasiin/transisiin, cara akalin pake opacity dan visibility supaya ada animasi smooth pas hover*/
    /* source:  google search AI extraction*/

    opacity : 0;
    visibility: hidden;
    
    background-color: var(--secondary-color);
    
    position: absolute;
    z-index: 1;

    border-radius: 12px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: opacity 0.3s ease, box-shadow 0.3s ease, /* buat transisi fade in*/
                visibility 0.2s ease; /* buat transisi fade out*/

}


.dropdown-content a{
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    margin: 20px;
}


.dropdown:hover .dropdown-content {
    /* display: block; jangan dipake,  mencegah dia ada animasi (kayaknya)*/
    visibility: visible;
    opacity: 1;

    border-radius: 12px;
    box-shadow:  0px 3px 4px 0px rgba(0,0,0,0.2);   
}

.dropdown:hover::after .dropdown-content {
    /* display: block; jangan dipake, mencegah dia ada animasi (kayaknya)*/
    visibility: hidden;
    opacity: 0;

    border-radius: 12px;
    box-shadow:  0px 0px 0px 0px rgba(0,0,0,0.0);
}


/* =======================================================================================================================================*/

footer{
    background-color: var(--bg-color-primary);
    
    display: flex;
    justify-content:center;
    flex-direction: column;

    width: 100%;
    height: 300px;


    /* position: fixed;  ini jangan pasang karena dia jadi floating, depan elemen lain 
                         , sedangkan kita pengen dia pakem dibawah persis elemen lain
                          */
    bottom: 0;
    left: 0;
}

.footer-group0{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 12px;
}

.footer-contact-header{
    display: flex;
    justify-content: center;
    font-weight: normal;
}

.footer-social-header{
    display: flex;
    justify-content: center;
    font-weight: normal;
}

.footer-social-links{
    text-decoration: none;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.footer-social-links i{
    transition: color .25s ease;
}
.footer-social-links i:hover{
    color: #fd000d;
}

.footer-group{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid rgba(240, 240, 234, 0.1) ;
}

.footer-group-logo{
    width: 115px;
    height: 120px;
}

/* .footer-group-copyright{
    tidak kepake, cuma buat namain grouping biar gak pusing
} */

.footer-group-copyright-p1{
    font-weight: bold;
    font-size: normal;
}
.footer-group-copyright-p2{
    font-weight: normal;
    font-size: small;
}

/* .footer-copyright{
    margin-left: 270px; 

*/